<header class="header mb-sm-3 mb-2">
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Brand -->
		<a href="/" class="navbar-brand mx-lg-5 mx-md-4 mx-0">
			<img src="/assets/images/ASTRO.png">
		</a>

		<!-- Links -->
		<div class="collapse navbar-collapse" id="nav-content">   
			<ul class="navbar-nav ml-5 mr-auto ">
				<li class="nav-item mx-2">
					<a class="nav-link" href="#">ARTICLES</a>
				</li>
				<li class="nav-item mx-2">
					<a class="nav-link" href="#">REMEDIES</a>
				</li>
				<li class="nav-item mx-2">
					<a class="nav-link" href="#">ABOUT</a>
				</li>
			</ul>

			<!-- Search -->
			<form id="searchForm" class="form-inline mr-md-5" role="search" method="get" action="/search/">
				<div class="searchBox px-2 py-1">
					<i class="fa fa-search"></i>
					<input type="text" class="form-control" id="searchString" name="searchString">
					<input type="submit" style="display: none" />
				</div>
			</form>
		</div>
	</nav>
</header>