---
---

@import 'variables.scss';

footer{
	$section-1-background: #333333;
	$section-2-background: #2C2B2B;
	
	color: $footerTextColor;
	.fSection-1{
	background-color: $section-1-background;
	}
	.fSection-2{
	background-color: $section-2-background;
	}
	.newsLetter{
		form{
			input{
				color: $textColor;
			}
		}
	}

	.blackWhiteLogo{
		.followUsButtons{
			.row{
				i{
				color: $footerTextColor;
				}
				.fbBt{
					background-color:   $section-2-background;
				}
				.twitterBt{
					background-color:   $section-2-background;
				}
				.linkedinBt{
					background-color:   $section-2-background;
				}
				.googleBt{
					background-color:   $section-2-background;
				}
				.shBt{
					cursor: pointer;
				}
			}
		}
	}
}