---
---

@import 'variables.scss';

body{
	color: rgb(0,0,0);
	background-color: #F1F1F1;
	font-family:Montserrat,sans-serif;
	line-height: 24px;
}

.mainContent{
}

h2,h3{
	font-family:Montserrat,sans-serif;
	color: $primaryColor;
	line-height: 30px;
	font-weight: 700;
}

.uy{
	border-bottom-color: rgb(253, 222, 50);
	border-bottom-style: solid;
	border-bottom-width: 4px;
}

.ur{
	border-bottom-color: $underLineColor;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

#topStory{
	max-width: 100%;

	img{
		width:100%; 
		height:45vh;
	}
}

.homePosts{
	$imageHeight : 25vh;
	margin-top: 5vh;
	cursor: pointer;

	.imageDiv{
		margin-left: -15px;
	}
	img{
		width: 100%;
		height: $imageHeight;
	}
	h1,h2,h3,h4,h5,h6{
		line-height: 24px;
	}
	a{
		color: rgb(0,0,0);
		&:hover{
			color: $primaryColor;
			text-decoration:none;
		}
	}
	.postDate{
		color: $textColor;
		font-size: 0.8rem;
	}
}

.newsLetter{
	form{
		input,button{
			color: #FFF;

			/* Removes border and rounded corners */
		  	-webkit-border-radius: 0;
		    -moz-border-radius: 0;
		    border-radius: 0;
		    border: 0;
		}
		button{
			background-color: $primaryDarkColor;
		}
	}
}

.cardNewsletter{
	background-color: $primaryColorLight;
	//background-color: #ff9800; // yellowish color
	color: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.cardBox{
	background-color: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.followUsButtons{
	.row{
		text-align: center;
		i{
		color: #FFFFFF;
		}
		.fbBt{
			background-color: #3b5998;
		}
		.twitterBt{
			background-color: #0084b4;
		}
		.linkedinBt{
			background-color: #0077B5;
		}
		.googleBt{
			background-color: #d34836;
		}
		.shBt{
			cursor: pointer;
		}
	}
}

@media(max-width:576px){

}
@media(max-width:768px){}
@media(max-width:992px){}