---
---

@import 'variables.scss';

.relatedArticlesRow{
	$imageHeight : 25vh;
	margin-top: 5vh;
	cursor: pointer;
	
	img{
		width: 100%;
		height: $imageHeight;
	}
	h1,h2,h3,h4,h5,h6{
		line-height: 24px;
	}
	a{
		&:hover{
			text-decoration:none;
		}
	}
	.articleDescription{
		
	}
	.postDate{
		color: $textColor;
		font-size: 0.8rem;
	}
}