$primaryColor: #8f2c2c; // old one: #FF5C5B
$secondaryColor: #FF5C5B; // old one: rgb(253, 222, 50)
$primaryColorLight: #FF5C5B;
$primaryDarkColor: #c62331;
$underLineColor: #000000; 
$textColor: rgb(118, 118, 118);
$textHeadingColor: rgb(65, 65, 65);
$footerTextColor: rgb(188, 190, 192);