---
layout: default
---

<div class="container-fluid">
	<div class="row">

		<!-- LEFT SIDE -->
		<div class="col-lg-7 offset-lg-1 col-md-8">
			
			<!-- POST CONTENT -->
			<a name="post"></a>
			<div class="postOuterBlock">
				
				<h1>{{ page.title }}</h1>
				<p class="postDate"><small>{{ page.date | date: "%-d %B %Y at %R"}}</small></p>

				{% include shareButtons.html %}

				<div class="postBlock">
					<img class="img-fluid mb-5 mx-auto d-block" alt="{{ page.title }}" src="{{ page.image }}">
					<div class="postContent px-3">
						{{ content }}	
					</div>
				</div>

				<div class="expandedShBt my-3">
					{% include shareButtons.html %}
				</div>

				{% if page.fbcomments %}
					{% include fbComments.html %}
					<div class="fb-comments" data-href="https://astrotips.github.io/" data-width="500" data-adapt-container-width="true" data-numposts="8"></div>
				{% endif %}
			</div>
			

			<!-- TODO: Facebook Comment Section -->

			<!-- Latest Posts -->
			<h3 class="mt-5 pb-2 uy">Latest Stories</h3>
			{% include latestPosts.html %}
			
		</div>
		
		<!-- RIGHT SIDE -->
		<div class="col-lg-3 col-md-4 col-sm-6 mt-5 mt-md-0">
			{%include relatedArticles.html %}

			<div class="mt-4">
				{% include newsletter.html %}
			</div>
		</div>
	</div>

</div>